amadeus==3.2.0
asgiref==3.2.10
astroid==2.2.5
beautifulsoup4==4.7.1
boto3==1.14.7
botocore==1.17.7
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cmdstanpy==0.4.0
colorama==0.4.1
convertdate==2.2.1
cycler==0.10.0
Cython==0.29.20
dj-database-url==0.5.0
Django==3.0.7
django-filter==2.3.0
django-storages==1.9.1
djangorestframework==3.11.0
docutils==0.15.2
ephem==3.7.7.1
et-xmlfile==1.0.1
google==2.0.2
graphviz==0.14
gTTS==2.0.3
gTTS-token==1.1.3
gunicorn==19.9.0
h5py==2.10.0
holidays==0.10.2
html5lib==1.0.1
idna==2.8
isort==4.3.20
jdcal==1.4.1
jmespath==0.10.0
joblib==0.16.0
Keras==2.4.3
kiwisolver==1.2.0
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.4.1
LunarCalendar==0.0.9
matplotlib==3.2.2
mccabe==0.6.1
mpmath==1.1.0
numpy==1.18.5
openpyxl==2.6.2
pandas==1.0.4
Pillow==6.2.1
pipenv==2018.11.26
playsound==1.2.2
psycopg2==2.8.3
pygame==1.9.6
pylint==2.3.1
PyMeeus==0.3.7
pyparsing==2.4.7
PyQt5==5.13.2
PyQt5-sip==12.7.0
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.22.0
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.5.1
setuptools-git==1.2
six==1.12.0
soupsieve==1.9.1
SpeechRecognition==3.8.1
sqlparse==0.3.1
sympy==1.5.1
threadpoolctl==2.1.0
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.7.5
virtualenv-clone==0.5.3
webencodings==0.5.1
whitenoise==4.1.4
wikipedia==1.4.0
wrapt==1.11.2
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
